spring:
  jpa:
    properties:
      hibernate:
        globally_quoted_identifiers: true
        globally_quoted_identifiers_skip_column_definitions: true

kafka:
  bootstrapAddress: localhost:29092
  topics:
    ingestion:
      name: ingestion
      group: ppr
