{{> header}}

<h1>Details of a datalake process</h1>

<section class="process">
	<header class="">
		<h1 class="">{{file.name}}</h1>
		<p class="">{{file.description}}</p>
        <p class="">{{file.periodicity}}</p>
	</header>
</section>

{{> footer}}
