{{> header}}

<h1>Top-level list of executed file ingestion processes</h1>

<div class="processes">

    <table>
        <tr>
            <th>File key</th>
            <th>User</th>
            <th>CAM Ingestor</th>
            <th>Status</th>
            <th>Started at</th>
            <th>Ended at</th>
        </tr>

        {{#ingestedFiles}}
            <tr>
                <td><a href="/ingestedFile/{{id}}">{{fileKey}}</a></td>
                <td>{{user}}</td>
                <td>{{camIngestor}}</td>
                <td>{{status}}</td>
                <td>{{startedAt}}</td>
                <td>{{endedAt}}</td>
            </tr>
        {{/ingestedFiles}}
    </table>
</div>

{{> footer}}
