{{> header}}

<h1>Top-level list of executed processes in the datalake</h1>

<div class="articles">

	<section>
		<header class="banner">
			<h2 class="banner-title">Top-level list of executed processes in the datalake</h2>
		</header>
	</section>

	{{#articles}}
		<section>
			<header class="article-header">
				<h2 class="article-title"><a href="/article/{{slug}}">{{title}}</a></h2>
				<div class="article-meta">By  <strong>{{author.firstname}}</strong>, on <strong>{{addedAt}}</strong></div>
			</header>
			<div class="article-headline">
				{{headline}}
			</div>
		</section>
	{{/articles}}
</div>

{{> footer}}
