{{> header}}

<h1>Details of a datalake process</h1>

<section class="process">
	<headivr class="">
        <div>{{ingestedFile.id}}</div>
        <div><{{ingestedFile.fileKey}}</div>
        <div>{{ingestedFile.user}}</div>
        <div>{{ingestedFile.camIngestor}}</div>
        <div>{{ingestedFile.status}}</div>
        <div>{{ingestedFile.startedAt}}</div>
        <div>{{ingestedFile.endedAt}}</div>
	</headivr>
</section>

{{> footer}}
